html {
  width: 99%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

#logo {
width:60%;
    height:auto;
display:block;
margin-left:235px;
margin-right:auto;
margin-top:10%;   
}

p{
    text-align:center;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}
